<h1><%=  link_to @project.nombre, @project%></h1>
<div id="ticket">
	<p>
		<%= @ticket.nombre  %>
	</p>
	<p>
		<%= @ticket.descripcion %>
	</p>
</div>
<%= link_to "Editar ticket", edit_project_ticket_path(@project,@ticket)%>
<%= link_to "Borrar ticket", [ @project, @ticket] , method: :delete, data: {confirm: "Confirma eliminar?"} %>
