<!DOCTYPE html>
<html>
<head>
  <title>
  	<% if content_for :titulo %>
  		<%= yield(:titulo) %>
  	<% else %>
  		Tikeg
  	<% end %>
  </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% unless user_signed_in? %>
  <%= link_to 'Registrarse', new_user_registration_path %>
  <%= link_to 'Ingresar', new_user_session_path %>
  <% else %>
  Signed in as <%= current_user.email %>
  <%= link_to 'Salir', destroy_user_session_path, method: :delete%>
<% end %> <br>
<% solo_administrador do %>
  <%= link_to 'Administrar', admin_root_path %>
<% end %>
<h3>
<%= notice %>
<%= alert %>
</h3>
<%= yield %>

</body>
</html>
